.archives {
    max-width: 38rem !important;
    margin: 0 auto !important;
    float: none !important;
    h2.year {
        color: $darkblue;
        font-size: 2rem;
    }
    ul {
        list-style: none;
    }
}
