.header {
    background: $blue;
    color: white;
    padding: 1rem;
}

.logo {
    float: left;
    h1 {
        font-weight: 900;
        font-size: 3rem;
        line-height: 1;
    }
    .hide {
        display: none;
    }
    a {
        color: $paleblue;
        &:hover {
            color: white;
        }
    }
}

.nav {
    float: right;
    @include media($tablet) {
        margin-top: .25rem;
    }
    a {
        text-transform: uppercase;
        color: white;
    }
    ul {
        list-style: none inside;
        li {
            font-size: 1.25rem;
            letter-spacing: 2px;
            padding: .5rem;
            display: inline-block;
            vertical-align: middle;
            @include media($tablet) {
                padding-top: .75rem;
                font-size: 1rem;

            }
        }
    }
}
