ul.sharing {
    list-style: none;
    text-align: center;
    margin: 2rem auto;

    li {
        display: inline-block;
        margin: 1rem .5rem;
    }
    svg {
        max-width: 3rem;
    }
    a {
        border: 0;
        background: none;
    }
    .circling {
        border-radius: 100%;
        border: 1px solid $blue;
        padding: .5rem;
    }
    .icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $blue;
        background: none;
        transition: all 750ms ease;
        &:hover, &:focus {
            background: $darkblue;
            width: 3rem;
            height: 3rem;
            fill: white;
        }
    }
}
