$blue: #85b3c1;
$darkblue: #5b87a4;
$liteblue: #90c0ce;
$paleblue: #deecf0;
$bkg: #eeeded;

$serif: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
$sans-serif: 'Whitney SSm A', 'Whitney SSm B', Verdana, sans-serif;

// media queries
$tablet: new-breakpoint(max-width 48rem 8);
$mobile: new-breakpoint(max-width 31.250rem 6);
