:root {
  --s-blue: #85b3c1;
  --s-blue-dark: #5b87a4;
  --s-blue-lite: #90c0ce;
  --s-blue-pale: #deecf0;
  --s-bkg: #eeeded;
  --serif: 'Sentinel SSm A', 'Sentinel SSm B', 'Charter', Georgia, serif;
  --sans-serif: 'Whitney SSm A', 'Whitney SSm B', 'Avenir', Verdana, sans-serif;
}
