---
layout: default
---

<section class="ArticleWrapper">

  {% for post in site.posts %}
  {% assign currentDate = post.date | date: "%Y" %}
  {% if currentDate != myDate %}
  {% unless forloop.first %}</ul>{% endunless %}
  <header class="EntryHeader">
    <h2 class="f1" id="{{ currentDate }}-ref">{{currentDate}}</h2>
  </header>
  <ul class="Archives">
    {% assign myDate = currentDate %}
    {% endif %}
    {% include archive-item.html post=post %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

</section>
