<header class="c-header u-bg--xsb u-p3">
  <div class="o-container o-container--center o-flex o-flex--center--h o-flex--j--sb">
    <div class="logo">
      <h1 class="h3">
        <i><a href="{{ site.baseurl }}/" class="c-header__link">S</a><span class="u-none">abrina Peters</span></i>
      </h1>
    </div>
    <nav class="nav">
      <ul class="menu list--reset">
        <!-- <li class="u-inbl"><a href="/contact/">Contact</a></li> -->
        <!-- <li class="u-inbl"><a href="/links/">Links</a></li> -->
        <li class="u-inbl u-caps u-lt-2">
          <a href="/about/" class="c-header__link u-sans">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
