<div class="Widget">
  <h4 class="">Share This Post</h4>
  <ul class="SharingLinks u-sans">
    <li class="u-inbl u-py2">
      <a
        href="https://twitter.com/intent/tweet?text='{{ page.title }}'&amp;url={{ page.url | prepend: site.url }}&amp;via=sdrp_"
        target="_blank"
        >Twitter</a
      >
    </li>
    <li class="u-inbl u-py2">
      <a
        href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}"
        target="_blank"
        >Facebook</a
      >
    </li>

    <li class="u-inbl u-py2">
      <a href="{{ page.url | prepend: site.url }}" target="_blank">Permalink</a>
    </li>
  </ul>
</div>
