.aboutinfo {
  padding: 2rem 1rem;
  background: $liteblue;
  color: white;
}

.aboutinfo .container {
  max-width: 38rem;
}

.aboutinfo p {
  color: white;
  font-size: 1.125rem;
}

.aboutinfo div.left {
  @include span-columns(3);
  padding: .5rem;
  @include media($mobile) {
    @include span-columns(6);
    img {
      max-width: 5rem;
      margin: 1rem auto;
      display: block;
    }
  }
}

.aboutinfo div.right {
  @include span-columns(9);
  @include media($mobile) {
    @include span-columns(6);
  }
}

img.aboutdefault {
  border-radius: 100%;
  padding: .5rem;
  border: 1px solid white;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}


