.btn {
    color: $blue;
    padding: 1rem .5rem;
    text-align: center;
    -webkit-appearance: none;
    background: none;
    border: 2px solid $blue;
    border-radius: 1.25rem;
    font: 400 100%/1.4 $sans-serif;
    width: 10rem;
    &:hover {
        color: white;
        background: $liteblue;
        border-color: $blue;
    }
    &:focus {
        background: $blue;
        outline: none;
    }
    &--archives {
        display: block;
        width: 15rem !important;
        border: 2px solid $blue !important;
        padding: 1rem 2rem !important;
        margin: 2rem 0 1rem;
        transition: background 500ms ease;
        &:hover {
            color: white !important;
        }
    }
}

.bttn {
  margin-left: 0;
  margin-top: 2rem;
  display: block;
  transition: all 375ms linear;
  font: italic 400 1.5rem/1 $serif;
  border-bottom: 0 !important;
  &:hover, &:focus { margin-left: .5rem; }
  &::after {
    content: "\2192";
    margin-left: 1rem;
  }
}

