* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: $bkg;
}

.clearfix {
  content: "";
  clear: both;
  display: block;
}

.hide {
  display: none;
}
.container {
  @include outer-container;
}






