.resumee__hl {
  color: $blue;
}

.resumee__meta {
  color: rgba(#484848, .75); 
  font-size: .875rem;
}

.resumee__hl-sub { color: $blue; }

.resumee__hl-sub::after {
  content: "";
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 7rem;
  height: 5px;
  background: $liteblue;
  display: block;
}
