.sidebar {
    a {
        color: $blue;
        &:hover {
            color: $liteblue;
            border-bottom: 2px solid rgba(#a3c3cd,.5);
        }
    }
}

.widget {
    h3 {
        font-weight: 400;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $blue;
    }
    ul {
        list-style: none inside;
    }
    li {
        padding: .25rem 0;
        font-size: 1.25rem;
    }
}

.social-list {
    text-transform: uppercase;
    h3 {
        letter-spacing: 2px;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .genericon {
        font-size: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
        vertical-align: middle;
    }
    li {
        letter-spacing: 2px;
    }
}

// goodreads
.goodreads_listing {
    padding: 1rem;
    text-align: center;
    h3 {
        padding: 0 .5rem .25rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 3px;
        color: $liteblue;
        border-bottom: 2px solid rgba(#a3c3cd,.5);
        display: inline-block;
    }

}
.goodreads_shelf {
    margin-top: 1rem;
    @include outer-container;
    .item {
        background: $blue;
        display: inline-block;
        margin: .5rem;
        img {
            max-width: 100%;
            display: block;
            &:hover {
                opacity: .1;
            }
        }
    }
}
