/* Case */

.caps  { text-transform: uppercase; }
.lower { text-transform: lowercase; }

/* Families */

.f-serif { font-family: $serif; }
.f-ss    { font-family: $sans-serif; }


/* Weights */

.w-100 { font-weight: 100; }
.w-300 { font-weight: 300; }
.w-400 { font-weight: 400; }
.w-600 { font-weight: 600; }
.w-700 { font-weight: 700; }

/* Tracking */

.lt-1 { letter-spacing: 1px; }
.lt-2 { letter-spacing: 2px; }
.lt-3 { letter-spacing: 3px; }
.lt-4 { letter-spacing: 4px; }
.lt-5 { letter-spacing: 5px; }
