html {
  font: 400 100%/1.4 $sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  max-width: 38rem;
  margin-bottom: 1.5rem;
  color: #484848;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, li {
  text-rendering: optimizeLegibility;
}
