.c-entry p {
  font-size: 1rem;
  line-height: 1.7;
}

.c-entry p:last-of-type,
.c-entry ol,
.c-entry ul {
  margin-bottom: 1rem;
}

.c-entry a {
  color: var(--s-blue);
  border-bottom: 1px solid;
  background: color(var(--s-blue-lite) a(12.5%));
}

.c-entry a:hover {
  background: none;
  color: var(--s-blue-lite);
}

.c-entry li:not(:last-of-type) { margin-bottom: .5rem; }

.c-entry blockquote {
  padding: .5rem 1.5rem;
  border-left: 3px solid var(--s-blue);
  margin: 1rem 0;
  font-style: italic;
}

.c-entry blockquote > p  {
  margin-bottom: 0;
}

.c-entry hr {
  width: 80%;
  margin: 0 auto 1rem;
  background: var(--s-blue-lite);
}
