:root {
  --s-blue: #85b3c1;
  --s-blue-dark: #5b87a4;
  --s-blue-lite: #90c0ce;
  --s-blue-pale: #deecf0;
  --s-bkg: #eeeded;
  --base-space: 16px;
  --serif: "Sentinel SSm A", "Sentinel SSm B", "Charter", Georgia, serif;
  --sans-serif: "Whitney SSm A", "Whitney SSm B", "Avenir", Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: 300 100%/1.6 var(--sans-serif);
  -webkit-tap-highlight-color: transparent;
  color: #484848;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

hr {
  border: 0;
  height: 2px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

.table {
  width: 100%;
}

.table__content {
  display: block;
}

.table__content:before {
  content: attr(data-heading);
  display: inline-block;
  width: 5rem;
  margin-right: 1rem;
  color: #5b87a4;
  font-size: 0.75rem;
  text-align: left;
}

.table__row:not(:last-of-type) {
  border-bottom: 1px solid var(--s-blue);
}

h1 {
  font-size: 2.73438rem;
}

h2 {
  font-size: 2.1875rem;
}

.h3,
h3 {
  font-size: 1.85938rem;
}

.h4 {
  font-size: 1.53125rem;
}

.h5 {
  font-size: 1.3125rem;
}

.h6 {
  font-size: 1.09375rem;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.5;
  font-family: var(--serif);
}

.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  line-height: 1.5;
  font-family: var(--serif);
}

.small {
  font-size: 87.5%;
}

p {
  font-family: inherit;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  fill: currentColor;
  pointer-events: none;
  max-height: 100%;
}

ol,
ul {
  list-style-position: inside;
}

.list--reset {
  list-style: inside none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #5b87a4;
}

a:active,
a:hover {
  color: #8cabc0;
  outline: 0;
}

hr {
  display: block;
  border: 0;
  height: 2px;
  background-color: currentColor;
}

.o-Container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.o-ContainerSidebar {
  flex: 1;
}
.o-ContainerMain {
  flex: 4;
  overflow: scroll;
}

.Header {
}

.Sidebar {
  background-image: linear-gradient(to top right, #5b87a4, var(--s-blue));
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-header__link {
  color: #fff;
}

.c-hero {
  background-image: linear-gradient(to top right, #5b87a4, var(--s-blue));
}


.HeroSub {
  --hero-spacing:calc(var(--base-space) * 4);
  background-image: linear-gradient(to bottom left, #96beca, var(--s-blue-pale));
  color:  var(--s-blue-dark);
  padding-top: var(--hero-spacing); 
  padding-bottom: var(--hero-spacing); 
}

.ArticleWrapper {
  padding-left: var(--base-space);
  padding-right: var(--base-space);
  max-width: 46.875rem;
  margin-left: auto;
  margin-right: auto;
}

.c-entry p {
  font-size: 1rem;
  line-height: 1.7;
}

.c-entry ol,
.c-entry p:last-of-type,
.c-entry ul {
  margin-bottom: 1rem;
}

.c-entry a {
  color: var(--s-blue);
  border-bottom: 1px solid;
  background: rgba(144, 192, 206, 0.12);
}

.c-entry a:hover {
  background: none;
  color: #90c0ce;
}

.c-entry li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.c-entry blockquote {
  padding: 0.5rem 1.5rem;
  border-left: 3px solid #85b3c1;
  margin: 1rem 0;
  font-style: italic;
}

.c-entry blockquote > p {
  margin-bottom: 0;
}

.c-entry hr {
  width: 80%;
  margin: 0 auto 1rem;
  background: #90c0ce;
}

.c-entry .footnotes {
  border-top: 2px solid rgba(144, 192, 206, 0.625);
  padding-top: 2rem;
  margin-top: 2.5rem;
}

.c-entry .footnotes ol::before {
  content: "Footnotes";
  font-weight: 700;
  margin-bottom: 1rem;
  opacity: 0.5;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.c-entry .footnotes ol li > p {
  display: inline;
}

.Avatar {
  --avatar-size: 128px;
  border-radius: 50%;
  width: var(--avatar-size);
  max-width: 100%;
  height: auto;
  display: block;
}

.SocialList {
  margin-bottom: 16px;
  max-width: 100%;
}

.SocialListItems {
  list-style: none inside;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SocialListLink {
  display: block;
  color: var(--s-blue-pale);
}

.SocialListItem {
  flex: 1;
  text-align: center;
}

/* .SocialListItem:not(:last-of-type) {
  margin-right: 8px;
} */

.Icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1.875rem;
  height: 1.875rem;
}

.u-bg--xsb {
  background-color: #85b3c1;
}

.u-bg--xsb--dark {
  background-color: #5b87a4;
}

.u-bg--bkg {
  background-color: #eeeded;
}

.u-xsb {
  color: #85b3c1;
}

.u-xsb--dark {
  color: #5b87a4;
}

.u-xsb--pale {
  color: #deecf0;
}

/* .u-inbl {
  display: inline-block;
}

.u-bl {
  display: block;
}

.u-none {
  display: none;
}

.u-mxw--fit {
  max-width: 100%;
}

.u-mb1 {
  margin-bottom: 0.25rem;
}

.u-mb2 {
  margin-bottom: 0.5rem;
}

.u-mb3 {
  margin-bottom: 1rem;
}

.u-mb4 {
  margin-bottom: 2rem;
}

.u-my4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-mt5 {
  margin-top: 2.4rem;
}

.u-mr5 {
  margin-right: 2.4rem;
}

.u-mb5 {
  margin-bottom: 2.4rem;
}

.u-mxa {
  margin-right: auto;
  margin-left: auto;
}

.u-p1 {
  padding: 0.25rem;
}

.u-py2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.u-p3 {
  padding: 1rem;
}

.u-pr3 {
  padding-right: 1rem;
}

.u-px3 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.u-py3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-py4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-py5 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.u-py6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.u-center {
  text-align: center;
}

.u-tclm-3 {
  -moz-columns: 3 19rem;
  columns: 3 19rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
} */

.u-anti {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-sans {
  font-family: var(--sans-serif);
}

.u-caps {
  text-transform: uppercase;
}

.u-w300 {
  font-weight: 300;
}

.u-w400 {
  font-weight: 400;
}

.u-w500 {
  font-weight: 500;
}

.u-w700 {
  font-weight: 700;
}

.u-lt-2 {
  letter-spacing: 2px;
}

.u-lt-3 {
  letter-spacing: 3px;
}

@media only screen and (min-width: 48rem) {
  .table__content {
    display: table-cell;
  }
  .table__content:before {
    display: none;
  }
  h1 {
    font-size: 3.125rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .h3,
  h3 {
    font-size: 2.125rem;
  }
  .h4 {
    font-size: 1.75rem;
  }
  .h5 {
    font-size: 1.5rem;
  }
  .h6 {
    font-size: 1.25rem;
  }
  .o-col--3\/12\@md {
    width: 25%;
  }
  .u-px0\@md {
    padding-right: 0;
    padding-left: 0;
  }
  .o-col--5\~\/12\@md {
    width: 48%;
  }
}

@media only screen and (min-width: 57.75rem) {
  h1 {
    font-size: 3.51563rem;
  }
  h2 {
    font-size: 2.8125rem;
  }
  .h3,
  h3 {
    font-size: 2.39063rem;
  }
  .h4 {
    font-size: 1.96875rem;
  }
  .h5 {
    font-size: 1.6875rem;
  }
  .h6 {
    font-size: 1.40625rem;
  }
}
