:root {
  --s-blue: #85b3c1;
  --s-blue-dark: #5b87a4;
  --s-blue-lite: #90c0ce;
  --s-blue-pale: #deecf0;
  --s-bkg: #eeeded;
  --s-text: #484848;
  --s-card: #fff;
  --s-shadow: 0 2px 4px rgba(27, 31, 35, 0.15);
  --base-space: 1rem;
  --double-space: calc(var(--base-space) * 2);
  --inverted-base-space: -1rem;
  --serif: "Sentinel SSm A", "Sentinel SSm B", "Charter", Georgia, serif;
  --sans-serif: "Whitney SSm A", "Whitney SSm B", "Avenir", Verdana, sans-serif;
  --container-width: 38rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: 400 100%/1.7 var(--serif);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--s-text);
  background: var(--s-bkg);
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

hr {
  border: 0;
  height: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

.table {
  width: 100%;
}

.table__content {
  display: block;
}

.table__content:before {
  content: attr(data-heading);
  display: inline-block;
  width: 5rem;
  margin-right: 1rem;
  color: var(--s-blue-dark);
  font-size: 0.75rem;
  text-align: left;
}

.table__row:not(:last-of-type) {
  border-bottom: 1px solid var(--s-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--base-space);
  line-height: 1.3;
  font-family: var(--sans-serif);
}

h1,
.f1 {
  font-size: 1.875rem;
}

h2,
.f2 {
  font-size: 1.5rem;
}

h3,
.f3 {
  font-size: 1.25rem;
}

h4,
.f4 {
  font-size: 1.125rem;
  font-weight: 400;
  font-feature-settings: "smcp", "c2sc";
}

h5,
.f5 {
  font-size: 1rem;
  font-weight: 700;
}

small,
.small {
  font-size: 87.5%;
}

p {
  font-family: inherit;
  line-height: 1.7;
  font-size: var(--base-space);
}

p:not(:last-of-type) {
  margin-bottom: var(--base-space);
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  fill: currentColor;
  pointer-events: none;
  max-height: 100%;
}

ol,
ul {
  list-style-position: inside;
}

ol {
  padding-left: 0;
  counter-reset: x-counter;
  list-style-type: none;
}

ol > li::before {
  content: counter(x-counter);
  margin-right: calc(var(--base-space) / 2);
  text-align: center;
  font: 700 1.25rem/1 var(--sans-serif);
  counter-increment: x-counter;
}

li > ol,
li > ul {
  margin-left: var(--base-space);
}

li > p {
  display: inline-block;
  vertical-align: top;
}

.list--reset {
  list-style: inside none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--s-blue-dark);
}

a:active,
a:hover {
  color: #8cabc0;
  outline: 0;
}

hr {
  display: block;
  border: 0;
  height: 2px;
  background-color: currentColor;
}

pre {
  padding: 0.75rem;
  background-color: #f5f6fa;
  overflow: scroll;
}

dl {
  margin-bottom: var(--base-space);
}

dt {
  font-weight: 700;
  width: 25%;
  float: left;
  text-align: right;
  padding-right: 8px;
}

dd {
  padding-left: 8px;
  width: 75%;
  float: right;
}

dl::after {
  content: "";
  clear: both;
  display: table;
}

blockquote {
  padding: 0 calc(var(--base-space) * 1.5);
  border-left: 3px solid var(--s-blue);
  margin: 0 0 var(--double-space);
  font-style: italic;
}

.o-Wrapper {
  max-width: var(--container-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--base-space);
  padding-right: var(--base-space);
}

.RelatedPostsList {
  list-style: none inside;
}

.RelatedPostsItem {
  --offset: var(--double-space);
  --currentSize: calc(var(--container-width) / 2);
  width: 100%;
  max-width: 100%;
  margin-bottom: var(--base-space);
}

.Bio {
  display: flex;
  flex-direction: column;
}

.BioAvatar {
  flex: 1;
  margin-bottom: var(--base-space);
}

.BioAvatar > img {
  margin-left: auto;
  margin-right: auto;
}

.BioContent {
  flex: 4;
}

.BioContent small {
  margin-bottom: var(--base-space);
}

.Card {
  padding: var(--base-space);
  background: var(--s-card);
  border-radius: 5px;
  box-shadow: var(--s-shadow);
  text-align: left;
}

.Header {
  padding-top: var(--base-space);
  padding-bottom: var(--base-space);
  margin-bottom: var(--base-space);
  border-bottom: 1px solid var(--s-blue-lite);
}

.Footer {
  text-align: center;
  padding: var(--base-space);
}

.Widget {
  text-align: center;
  padding: var(--double-space) 0;
}

.Sharing {
  text-align: center;
  padding: var(--double-space);
}

.SharingLinks {
  list-style: none inside;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  justify-content: space-around;
}

.HeroSub {
  --hero-spacing: calc(var(--base-space) * 3);
  background-image: linear-gradient(
    to bottom left,
    #96beca,
    var(--s-blue-pale)
  );
  color: var(--s-blue-dark);
  padding: var(--hero-spacing) var(--base-space);
  margin: var(--hero-spacing) calc(var(--inverted-base-space) * 1);
  box-shadow: var(--s-shadow);
}

.ArticleWrapper {
  padding-bottom: var(--double-space);
}

.Archives {
  list-style: inside none;
  margin-bottom: var(--double-space);
}

.ArchiveTitle {
  font-weight: 700;
  margin-bottom: 0;
}

.ArchiveItem:not(:last-of-type) {
  margin-bottom: var(--double-space);
}

.Meta {
  font-family: var(--sans-serif);
  opacity: 0.625;
}

.Entry {
}

.EntryHeader {
  padding-top: calc(var(--base-space) * 6);
  padding-bottom: var(--base-space);
  text-align: center;
  margin-bottom: var(--double-space);
}

.Rule,
.Entry hr {
  width: 40%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--double-space);
  background: var(--s-blue-lite);
}

.Entry pre,
.Entry table,
.Entry ol,
.Entry iframe,
.Entry p:last-of-type,
.Entry ul {
  margin-bottom: var(--base-space);
}

.Entry blockquote > p:last-of-type {
  margin-bottom: 0;
}

.Entry a {
  color: var(--s-blue);
  border-bottom: 1px solid;
  background: rgba(144, 192, 206, 0.025);
}

.Entry a:hover {
  background: none;
  color: var(--s-blue-lite);
}

.Entry li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.c-entry .footnotes {
  border-top: 2px solid rgba(144, 192, 206, 0.625);
  padding-top: 2rem;
  margin-top: 2.5rem;
}

.c-entry .footnotes ol::before {
  content: "Footnotes";
  font-weight: 700;
  margin-bottom: var(--base-space);
  opacity: 0.5;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.c-entry .footnotes ol li > p {
  display: inline;
}

.Avatar {
  --avatar-size: 128px;
  border-radius: 50%;
  width: var(--avatar-size);
  max-width: 100%;
  height: auto;
  display: block;
}

.SocialNav {
  padding-top: var(--base-space);
  text-align: center;
}

.SocialList {
  margin-bottom: 16px;
  max-width: 100%;
}

.SocialListItems {
  list-style: none inside;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SocialListLink {
  display: block;
  color: var(--s-blue-pale);
}

.SocialListItem {
  flex: 1;
  text-align: center;
}

/* .SocialListItem:not(:last-of-type) {
  margin-right: 8px;
} */

.Icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1.875rem;
  height: 1.875rem;
}

.u-bg--xsb {
  background-color: var(--s-blue);
}

.u-bg--xsb--dark {
  background-color: var(--s-blue-dark);
}

.u-bg--bkg {
  background-color: #eeeded;
}

.u-xsb {
  color: var(--s-blue);
}

.u-xsb--dark {
  color: var(--s-blue-dark);
}

.u-xsb--pale {
  color: #deecf0;
}

.u-sans {
  font-family: var(--sans-serif);
}

.u-serif {
  font-family: var(--serif);
}

.u-none {
  display: none;
}

@media only screen and (min-width: 48rem) {
  .table__content {
    display: table-cell;
  }

  .table__content:before {
    display: none;
  }

  .RelatedPostsList {
    list-style: none inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .RelatedPostsItem {
    --offset: var(--double-space);
    --currentSize: calc(var(--container-width) / 2);
    flex: 1;
    width: 100%;
    max-width: calc(var(--currentSize) - var(--offset));
  }

  .Bio {
    display: flex;
    flex-direction: row;
  }

  .BioAvatar {
    margin-right: var(--base-space);
  }
  .BioAvatar > img {
    margin-left: 0;
    margin-right: 0;
  }

  .SocialNav {
    padding-top: var(--base-space);
    text-align: left;
  }

  .SocialListItems {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .SocialListItem {
    flex: 0;
    margin-right: var(--double-space);
  }

  .HeroSub {
    --hero-spacing: calc(var(--base-space) * 3);
    padding: var(--hero-spacing) var(--double-space);
    margin: var(--hero-spacing) calc(var(--inverted-base-space) * 2);
    box-shadow: var(--s-shadow);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --s-blue: #85b3c1;
    --s-blue-dark: #5b87a4;
    --s-blue-lite: #90c0ce;
    --s-blue-pale: #deecf0;
    --s-text: #eeeded;
    --s-bkg: #333;
    --s-card: #484848;
  }
}
