@import 'obsidian.css/lib/settings';
@import './local-settings';
@import 'obsidian.css/lib/generic';
@import 'obsidian.css/lib/elements';

@import 'obsidian.css/lib/objects/obsidian.icons';
@import 'obsidian.css/lib/objects/obsidian.containers';
@import 'obsidian.css/lib/objects/obsidian.flex';

@import './components/header';
@import './components/hero';
@import './components/entry';
@import './components/avatar';

@import './utilities/colors';
@import 'obsidian.css/lib/utilities/obsidian.layout';
@import 'obsidian.css/lib/utilities/obsidian.spacing';
@import 'obsidian.css/lib/utilities/obsidian.typography';

:root {
  --headlines: var(--serif);
  --body-text: inherit;
  --ff-sans-serif: var(--sans-serif);
  --ff-serif: var(--serif);
  --color-1: var(--s-blue-dark);
  --base-border: 2px;
}
