<!DOCTYPE html>
<html class="u-anti u-bg--bkg">
  {% include head.html %}
  <body>
    {% include meta-icons.svg %}
    {% include header.html %}
    <main id="main" class="site-main" role="main">
      {{ content }}
    </main>
    {% include footer.html %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63427861-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-63427861-1');
    </script>
  </body>
</html>
