<!DOCTYPE html>
<html class="u-anti">
  {% include head.html %}
  <body>
    {% include meta-icons.svg %}
    <div class="o-Wrapper">
      {% include header.html %}
      <main id="main" class="o-ContainerMain site-main" role="main">
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63427861-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-63427861-1');
    </script>
  </body>
</html>
