---
layout: default
---

<article class="ArticleWrapper">
  <header class="EntryHeader u-py4 u-center">
    <h1 class="entry-title h4">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 class="h6 u-w300 u-lt-3 u-caps u-sans u-mb3">{{ page.subtitle }}</h2>
    {% endif %}
    <hr class="u-bg--xsb" />
    <time class="small u-bl u-caps u-lt-3">{{
      page.date | date: "%B %-d, %Y"
    }}</time>
  </header>

  <section class="Entry">{{ content }}</section>

  <footer>
    {% include sharing.html %} {% if page.comments %} {% include comments.html
    %} {% endif %}
  </footer>
</article>
