---
layout: default
---

<article class="container">
  <header>
    <h1>Sabrina Peters</h1>
    <div class="resumee__content">
      {{ content }}
    </div>
  </header>
  <section>
    <h2 class="mb2">Work Experience</h2>
    <div class="flex__container">
      <div class="flex__module content__block">
        <h3 class="mb2">Work Place</h3>
        <h4 class="caps mb2 lt-1 w-400">Work Location</h4>
        <time class="caps lt-3 mb1 u-d-bl">Start Date -- End Date</time>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
      </div>
      <div class="flex__module content__block"></div>
      <div class="flex__module content__block"></div>
      <div class="flex__module content__block"></div>
      <div class="flex__module content__block"></div>
      <div class="flex__module content__block"></div>
    </div>
  </section>
</article>
