---
layout: default
---

<article class="container">
  <header>
    <h1>Sabrina Peters</h1>
    <div class="resumee__content">
      {{ content }}
    </div>
  </header>
  <section>
    <h2 class="mb2">Work Experience</h2>
    <div class="flex__container">
      <div class="flex__module content__block">
        <h3 class="mb2">Library Assistant </h3>
        <h4 class="caps mb2 lt-1 w-400">Lynchburg Public Library | Lynchburg, VA</h4>
        <time class="caps lt-3 mb1 u-d-bl">Sept 2013 -- Jan 2015</time>
        <p>Circulation &amp; reference; answered patron technology questions; created libguides &amp;     promotional materials; managed social media for the law library; maintained law library collection; counted monies &amp; prepared monthly report of collections for law library; planned and participated in library outreach. Adult Summer Reading Program 2014: planned events &amp; collaborated with local businesses for prizes. <br><em>Software: SirsiDynix Horizon, Envisionware, WestLaw Next</em></p>
      </div>
      <div class="flex__module content__block">
        <h3 class="mb2">Shelver</h3>
        <h4 class="caps mb2 lt-1 w-400">Lynchburg Public Library | Lynchburg, VA</h4>
        <time class="caps lt-3 mb1 u-d-bl">Mar 2013 -- Aug 2013</time>
        <p>Shelved materials in Adult Services; pulled books for requests; assisted patrons with microfilm reader.<br> <em>Software: SirsiDynix Horizon</em></p>
      </div>
      <div class="flex__module content__block">
        <h3 class="mb2">Library Manager</h3>
        <h4 class="caps mb2 lt-1 w-400">Corban University School of Ministry | Tacoma, WA</h4>
        <time class="caps lt-3 mb1 u-d-bl">Sept 2010 -- May 2012</time>
        <p>Circulation &amp; reference; managed inter-library loans via OCLC; counted monies; performed copy cataloging functions within MARC records; created OPAC tutorials; gave library orientation.<br> <em>Software: ExLibris Voyager, Winnebago</em></p>
      </div>
      <div class="flex__module content__block">
        <h3 class="mb2">Lister</h3>
        <h4 class="caps mb2 lt-1 w-400">Once Sold Tales | Kent, WA</h4>
        <time class="caps lt-3 mb1 u-d-bl">June 2009 -- Aug 2010</time>
        <p>Sorted &amp; evaluated incoming materials for selling condition; listed sellable materials onto Amazon; shelved newly processed materials.</p>
      </div>
      <div class="flex__module content__block">
        <h3 class="mb2">Sales Clerk</h3>
        <h4 class="caps mb2 lt-1 w-400">Dightman's Bible Book Center | Tacoma, WA</h4>
        <time class="caps lt-3 mb1 u-d-bl">June 2007 -- Aug 2008; Summer 2010 -- Winter 2011</time>
        <p>Operated Point of Sale; provided customer service; assisted with inventory maintenance.</p>
      </div>
      <div class="flex__module content__block">
        <h3 class="mb2">Administrative Assistant</h3>
        <h4 class="caps mb2 lt-1 w-400">Lamp &amp; Quill International | Castaic, CA</h4>
        <time class="caps lt-3 mb1 u-d-bl">Aug 2004 -- May 2007</time>
        <p>Proofread curriculum; took customer orders; printed, assembled, and bound curriculum books; packaged &amp; shipped orders; other organizational &amp; clerical duties as needed.</p>
      </div>
      <div class="flex__module content__block">
        <h3 class="mb2">Page</h3>
        <h4 class="caps mb2 lt-1 w-400">San Bernardino Co. Library, Hesperia Branch | Hesperia, CA</h4>
        <time class="caps lt-3 mb1 u-d-bl">June 1997 -- Aug 2004</time>
        <p>Shelved library materials; worked at circulation desk; answered general questions; repaired books; processed new materials; supervised teen volunteers.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="mb2">Skills</h2>
    <ul>
      <li>Over 10 years of library experience</li>
      <li>Detail-Oriented</li>
      <li>Caring customer service</li>
      <li>Working knowledge of HTML5 &amp; CSS3</li>
      <li>One-on-one instruction</li>
      <li>Writing &amp; editing</li>
    </ul>
  </section>
  <section>
    <h2 class="mb2">Education</h2>
    <table>
      <tr>
        <td>The Master’s College</td>
        <td>B.A. Biblical Studies/ Biblical Languages</td>
        <td>May 2007 magna cum laude</td>
      </tr>
      <tr>
        <td>Corban University</td>
        <td>MDiv, Bib. Languages</td>
        <td>May 2013 magna cum laude</td>
      </tr>
      <tr>
        <td>University of WA</td>
        <td>Master of Library &amp; Info. Science</td>
        <td>In process; Projected 2017</td>
      </tr>
    </table>
  </section>
</article>
