---
layout: default
---

<article class="o-container--lg o-container--center u-py2 u-px3">
  <header class="u-my4">
    <h1 class="h4 u-mb4">Sabrina Peters</h1>
    <div class="h6">{{ page.about | markdownify }}</div>
  </header>
  <hr class="u-bg--xsb--dark u-mb4" />
  <section class="u-mb4">
    <h2 class="h4 u-mb2 u-w700">Work Experience</h2>
    <dl class="o-flex o-flex--wrap o-flex--j--sb">
      {% for job in site.data.jobs.jobs %}
      <div class="o-col--12/12 o-col--5~/12@md">
        <dt class="h6 u-w500">{{ job.position }}</dt>
        <dd class="u-mb4">
          <span class="small u-bl u-mb2"
            >{{ job.name }} <br />
            {{ job.timeline }}</span
          >
          {{ job.description | markdownify }}
          <p>
            {% if job.software %}Software Used: {{ job.software }}{% endif %}
          </p>
        </dd>
      </div>
      {% endfor %}
    </dl>
  </section>
  <hr class="u-bg--xsb--dark u-mb4" />
  <section class="u-mb4">
    <h2 class="h4 u-mb2 u-w700">Volunteer Experience</h2>
    <dl class="o-flex o-flex--wrap o-flex--j--sb">
      {% for volunteer in site.data.jobs.volunteering %}
      <div class="o-col--12/12 o-col--5~/12@md">
        <dt class="h6 u-w500">{{ volunteer.position }}</dt>
        <dd class="u-mb4">
          <span class="small u-bl u-mb2"
            >{{ volunteer.place }} <br />
            {{ volunteer.timeline }}</span
          >
          {{ volunteer.description | markdownify }}
        </dd>
      </div>
      {% endfor %}
    </dl>
  </section>

  <hr class="u-bg--xsb--dark u-mb4" />
  <section class="u-mb4">
    <h2 class="h4 u-mb2 u-w700">Skills</h2>
    <ul class="list--reset h6 u-tclm-3">
      {% for skill in site.data.jobs.skills %}
      <li class="small u-pr3 u-mb2">{{ skill.name }}</li>
      {% endfor %}
    </ul>
  </section>

  <hr class="u-bg--xsb--dark u-mb4" />
  <section class="u-mb4">
    <h2 class="h4 u-mb2 u-w700">Education</h2>
    <table class="table">
      {% for edu in site.data.jobs.education %}
      <tr class="table__row">
        <td class="table__content u-py3" data-heading="School">
          {{ edu.school }}
        </td>
        <td class="table__content u-py3" data-heading="Degree">
          {{ edu.degree }}
        </td>
        <td class="table__content u-py3" data-heading="Timeline">
          {{ edu.timeline }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </section>
</article>
