.u-bg--xsb       { background-color: var(--s-blue); }
.u-bg--xsb--dark { background-color: var(--s-blue-dark); }
.u-bg--xsb--lite { background-color: var(--s-blue-lite); }
.u-bg--xsb--pale { background-color: var(--s-blue-pale); }

.u-bg--bkg { background-color: var(--s-bkg); }

.u-xsb       { color: var(--s-blue); }
.u-xsb--dark { color: var(--s-blue-dark); }
.u-xsb--lite { color: var(--s-blue-lite); }
.u-xsb--pale { color: var(--s-blue-pale); }
